table.index {
background-color: #eee;
border-collapse: collapse;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
margin-top: 20px;
text-align: center;
font-weight: bold;
font-size: small;
}
table.index td {
border: black 1px solid;
padding-left: 1.5em;
padding-right: 1.5em;
}
table.index td:hover {
background-color: #ccf;
}
table.index td.na:hover {
background-color: #eee;
}
table.index a:link, table.index a:visited {
color: blue;
text-decoration: none;
}
table.big-list {
border: black 1px solid;
border-collapse: collapse;
margin-left: auto;
margin-right: auto;
}
table.big-list th {
background-color: #eef;
white-space: nowrap;
padding: 2px 5px;
}
table.big-list td {
border: black 1px solid;
padding: 4px 5px;
}
table.big-list td.nw {
white-space: nowrap;
}
table.big-list td.filler {
text-align: right;
font-size: x-small;
}
table.big-list tr.head {
background-color: #fed;
}
table.big-list td.label {
vertical-align: top;
white-space: nowrap;
}
table.big-list td.link {
vertical-align: top;
white-space: nowrap;
}
table.big-list td.link a {
font-weight: bold;
padding-top: 2px;
padding-bottom: 2px;
}
